{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container" style="margin-top:20px;">

  <div class="card mb-3" style="max-width: 540px;margin: 0  auto">

    <div class="row no-gutters">
      <div class="col-md-4" style="max-height:250px; max-width:250px; margin:0 auto">
        <img src="{% static 'home_project/img/ninja.jpg' %}" class="card-img" alt="falken20">
      </div>

      <div class="col-md-8">
        <div class="card-body">

          <h1 class="card-title"> {{ about_data.title }}</h1>
          <h6 class="card-text"> {{ about_data.author }} </h6>
          <h6 class="card-text"> {{ about_data.version }}</h6>
          <h6 class="card-text"> {{ about_data.license }}</h6>
          <h7 class="card-text"> {{ about_data.url }}</h7>
          <p class="card-text"><small class="text-muted">{{ about_data.copyrigth }} </small></p>

        </div>

      </div>
    </div>

    <div class="col-md-12">
        <p>
          <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                  data-target="#collapseFeatures" aria-expanded="false" aria-controls="collapseExample">
            New features in {{ about_data.version }} version</button>
        </p>
        <div class="collapse" id="collapseFeatures">
          <div>
            <ul>
              {% for element in about_data.features %}
              <li><small class="text-muted">{{ element }}</small></li>
              {% endfor %}
            </ul>
          </div>
        </div>
    </div>

  </div>

</div>

{% endblock content %}