{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'english_dic/css/style.css' %}"> -->

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        {% for element in books %}

            <tr style="font-size:smaller;">
                <td> {{ element.book_year }} </td>
                <td> {{ element.book_title }} </td>
                <td> {{ element.book_author }} </td>
                <td>
                    <form action=""
                            style="display: inline;"
                            method="POST"> {% csrf_token %}
                        <input type="submit" value="Edit" class="btn btn-success btn-sm btn-block">
                    </form>

                    <div style="margin-top: 1px;">
                        <form action="/books/delete_book/{{element.id}}/"
                              style="display: inline;"
                              method="POST"> {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm btn-block">
                        </form>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}