{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container" style="margin-top:20px;">

    <form action="/cards/add_word/" method="POST"> {% csrf_token %}

      <div class="form-group">
        <label for="word_en">English Word</label>
        <input type="text" class="form-control" name="word_en" id="word_en" maxlength="100" required>
      </div>
      <div class="form-group">
        <label for="word_es">Spanish Word</label>
        <input type="text" class="form-control" name="word_es" id="word_es" maxlength="100" required>
      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label for="word_type_id">Type</label>
          <select id="word_type_id" name="word_type_id" class="form-control" required>
            <option value="" selected></option>
            {% for element in wordtypes %}
              <option value={{ element.word_type_id }}>{{ element.word_type }} </option>
            {% endfor %}

          </select>
      </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>

    </form>

</div>

{% endblock content %}