<h1>ToDo Tasks</h1>

<ul>
    {% for todo_item in all_items %}
    <li>{{ todo_item.content }} - {{ todo_item.date_created  }}
        <form action="/todo/delete_todo/{{todo_item.id}}/"
              style="display: inline;"
              method="POST"> {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>

<form action="/todo/add_todo/" method="POST"> {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add">
</form>