{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'english_dic/css/style.css' %}"> -->

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day Weather</th>
            </tr>
        </thead>
        <tbody>
        {% for element in weather_data %}

            <tr style="font-size:smaller;">
                <td> {{ element }} </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}