{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'english_dic/css/style.css' %}"> -->

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>🕘</th>
                <th>☀️</th>
                <th>🌧</th>
                <th>💨</th>
                <th>💧</th>
            </tr>
        </thead>
        <tbody>
        {% for element in weather_data %}

            <tr style="font-size:smaller;">
                <td> {{ element.city_name }} </td>
                <td> {{ element.weather_date.time.hour }}:{{ element.weather_date.time.minute }}</td>
                <td> {{ element.weather_temp }}º </td>
                <td> {{ element.weather_rain }}mm </td>
                <td> {{ element.weather_wind }}Km/h </td>
                <td> {{ element.weather_humidity }}% </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}